<!DOCTYPE html>
<html>
    {% load static %} 
<head>
    <title>Links Task</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <a href="https://www.qu.edu.sa" target="_blank" id="link1" class="my-link">Go to QU website (open a new tab)</a>
    <a href="https://www.qu.edu.sa" id="link2" class="my-link">Go to QU website (open in the same page/tab)</a>
    <a href="https://www.qu.edu.sa" id="link3" class="my-link">Go to QU website (open in the same page/tab)</a>
</body>
</html>